.review-card {
	position: relative;
	min-width: 425px;
	display: flex;
	box-shadow: 2px 4px 16px rgba(17, 34, 17, 0.1);
	flex-direction: column;
	background-color: white;
	padding: 1.5rem;
	border-radius: 0.5rem; /* Main border radius */
}

.review-card::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px; /* Custom border radius for the shadow */
	background-color: rgba(141, 211, 187, 0.4); /* Shadow color */
	z-index: -1000; /* Places it behind the card */
	transform: translate(32px, 32px); /* Adjusts position for shadow effect */
}

.clamp-text {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* Number of lines to show */
	-webkit-box-orient: vertical;
}
