@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "TradeGothic LT Extended";
	src: url("./fonts/primary/TradeGothicLT-Extended.woff") format("woff2"),
		url("./fonts/primary/TradeGothicLT-Extended.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TradeGothic LT Extended";
	src: url("./assets/fonts/primary/TradeGothicLT-BoldExtended.woff2") format("woff2"),
		url("./assets/fonts/primary/TradeGothicLT-BoldExtended.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Montserrat";
	background-color: #fafbfc;
	color: #112211;

	@media (max-width: 560px) {
		font-size: 14px;
	}
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
	width: 100%;
	outline: none;
	border-radius: 4px;
	padding: 18px 18px;
	line-height: 1;
	color: #1c1b1f;
	height: 56px;
}

input::placeholder {
	color: rgba(28, 27, 31, 0.5);
	font-size: 400;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
	border-color: #6200ea;
}

input.error {
	border-color: #d32f2f;
	background-color: #ffebee;
}

.custom-input {
	border: none !important;
	outline: none !important;
	padding: 0 !important;
	line-height: 1 !important;
	background: transparent !important;
	width: 100%;
	min-height: 64px;
}

.custom-input:focus {
	outline: none;
	box-shadow: none;
}
