* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input[type="text"] {
	width: 100%;
	outline: none;
	border: 1px solid #79747e;
	border-radius: 4px;
	padding: 18px 18px;
}

input[type="text"]::placeholder {
	color: #1c1b1f;
	font-size: 400;
}
